.form {
  width: 80%;
  border-radius: 2px;
  margin: auto;
  color: #000;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    right: -78px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    transition: background 0.2s linear;
  }

  &__error {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    color: red;
  }
}
